*.class
*.log

# sbt specific
dist/*
target/
project/target
project/project/target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.idea
.idea_modules
# Modern Tooling (Metals/Bloop)
.bsp/
.scala-build/
.metals/

# Emacs temp files
.#*
*#

# Modern Tooling (Metals/Bloop)
.bsp/
.scala-build/
.metals/

# Emacs temp files
.#*
*#
